.body {
    height: auto;
    background-color: #fafafa;
}

.header {
    background-color: black;
    width: 100%;
    height: 700px;
    margin: auto;
    background-image: url("../img/aple-pro-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.head_menu {
    height: 5%;
}

ul.menu {
    padding: 0.7% 0 0 8%;
}

.menu a {
 text-decoration: none;
 outline: none;
 line-height: 1.4em;
 color: #CCCCCC;
 font: 100% Arial, sans-serif;
 margin: 5% 0 0 0;
}

ul.menu li {
    display: inline; /* Отображать как строчный элемент */
    margin: 25px 27px 0 27px; /* Отступ слева */
}

ul.menu {
    margin: 0 20%;
}

ul.menu a:hover {
    color: white;
}

.one_pro {
    padding: auto;
    margin: 0 auto;
}

.one_pro h1 {
    margin: 10px 39%;
    color: white;
    font: 300% Arial, sans-serif;
}

.one_pro_pay {
    margin: 6% 0 0 42%;
}

.one_pro_pay a {
    color: #2997ff;
    text-decoration: none;
    width: 100%;
    display: inline; /* Отображать как строчный элемент */
    margin: 0 0 0 4%;
    font: 120% Arial, sans-serif;
}

.one_pro_pay a:hover {
    text-decoration: underline;
}

.phone1 {
    background-color: #fafafa;
    width: 100%;
    height: 700px;
    margin: auto;
    background-image: url("../img/worphone1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.one_ h1 {
    color: black;
    margin: 0 40%;
    padding: 3% 0 0 0;
    font: 300% Arial, sans-serif;
}

.one_pay {
    margin: 90px 0 0 43%;
}

.one_pay a {
    color: #2997ff;
    text-decoration: none;
    width: 100%;
    display: inline; /* Отображать как строчный элемент */
    margin: -20px 0 0 4%;
    font: 120% Arial, sans-serif;
}

.one_pay a:hover {
    text-decoration: underline;
}

.watch {
    background-color: #fafafa;
    width: 100%;
    height: 700px;
    margin: auto;
    background-image: url("../img/wotch2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.one_w h1 {
    color: black;
    margin: -40px 45%;
    padding: 45px 0 0 0;
    font: 300% Arial, sans-serif;
}

.one_w_pay {
    margin: 110px 0 0 43%;
}

.one_w_pay a {
    color: #2997ff;
    text-decoration: none;
    width: 100%;
    display: inline; /* Отображать как строчный элемент */
    margin: 0 0 0 4%;
    padding: 20px 0 0 0;
    font: 120% Arial, sans-serif;
}

.one_w_pay a:hover {
    text-decoration: underline;
}

.pods {
    background-color: #fafafa;
    width: 100%;
    height: 700px;
    margin: auto;
    background-image: url("../img/worpods3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.pods_pay {
    padding: 180px 0 0 42%;
}

.pods_pay a {
    color: #2997ff;
    text-decoration: none;
    width: 100%;
    display: inline; /* Отображать как строчный элемент */
    margin: 0 0 0 4%;
    padding: -3% 0 0 0;
    font: 120% Arial, sans-serif;
}

.pods_pay a:hover {
    text-decoration: underline;
}

.pad {
    background-color: #fafafa;
    width: 100%;
    height: 700px;
    margin: auto;
    background-image: url("../img/pad3.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.pad_pay {
    padding: 170px 0 0 43%;
}

.pad_pay a {
    color: #2997ff;
    text-decoration: none;
    width: 100%;
    display: inline; /* Отображать как строчный элемент */
    margin: 0 0 0 4%;
    padding: -3% 0 0 0;
    font: 120% Arial, sans-serif;
}

.pad_pay a:hover {
    text-decoration: underline;
}