.body {
    height: auto;
}

.header {
    background-color: black;
    width: 100%;
    height: 35px;

}

.head_menu {
    height: 5%;
    background-color: black;
}

ul.menu {
    padding: 0.7% 0 0 0;
}

.menu a {
 text-decoration: none;
 outline: none;
 line-height: 1.4em;
 color: #CCCCCC;
 font: 100% Arial, sans-serif;
 margin: 5% 0 0 0;
}

ul.menu li {
    display: inline; /* Отображать как строчный элемент */
    margin: 25px 27px 0 27px; /* Отступ слева */
}

ul.menu {
    margin: 0 20%;
}

ul.menu a:hover {
    color: white;
}

.header1 {
    background-color: white;
    width: 80%;
    height: 750px;
    margin: 0 auto;
    background-image: url("../img/WATCH-1.jpg");
}

.header2 {
    background-color: white;
    width: 65%;
    height: 750px;
    margin: 0 auto;
    background-image: url("../img/WATCH2.jpg");
}

.header3 {
    background-color: white;
    width: 76%;
    height: 750px;
    margin: 0 auto;
    background-image: url("../img/WATCH3.jpg");
}