.body {
    height: auto;
}

.header {
    background-color: black;
    width: 100%;
    height: 35px;

}

.head_menu {
    height: 5%;
    background-color: black;
}

ul.menu {
    padding: 0.7% 0 0 0;
}

.menu a {
 text-decoration: none;
 outline: none;
 line-height: 1.4em;
 color: #CCCCCC;
 font: 100% Arial, sans-serif;
 margin: 5% 0 0 0;
}

ul.menu li {
    display: inline; /* Отображать как строчный элемент */
    margin: 25px 27px 0 27px; /* Отступ слева */
}

ul.menu {
    margin: 0 20%;
}

ul.menu a:hover {
    color: white;
}

.header1 {
    background-color: white;
    width: 70%;
    height: 700px;
    margin: 0 15%;
    background-image: url("../img/Worbook-1.jpg");
}

ul.book_list a {
    text-decoration: none;
    outline: none;
    line-height: 1.4em;
    color: #2997ff;
    font: 80% Arial, sans-serif;
    margin: 1% 0;
}

ul.book_list a:hover {
    border-radius: 4px;
    background-color: #2997ff;
    color: white;
}

ul.book_list {
    margin: 0;
    padding: 58% 0 0 62.8%;
    list-style: none;
}

ul.book_list li {
    margin: 1.4% 0 0 0;
}

ul.book_list2 {
    margin: -2% 0 0 35.6%;
    list-style: none;
}

ul.book_list2 a {
    text-decoration: none;
    outline: none;
    line-height: 1.4em;
    color: #2997ff;
    font: 80% Arial, sans-serif;
    margin: 1% 0;
}

ul.book_list2 li {
    margin: 1% 0 0 0;
}

ul.book_list2 a:hover {
    border-radius: 4px;
    background-color: #2997ff;
    color: white;
}

ul.book_list3 {
    margin: -2.6% 0 0 12%;
    list-style: none;
}

ul.book_list3 a {
    text-decoration: none;
    outline: none;
    line-height: 1.4em;
    color: #2997ff;
    font: 80% Arial, sans-serif;
    margin: 1% 0;
}

ul.book_list3 li {
    margin: 1% 0 0 0;
}

ul.book_list3 a:hover {
    border-radius: 4px;
    background-color: #2997ff;
    color: white;
}