
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World-IT</title>
    <link rel="stylesheet" href= " ../static/css/style.css">
</head>
<body>
<div class="header">
    <div class="head_menu">
        <ul class="menu">
            <li><a href="/home/">Home</a></li>
            <li><a href="/worbook/">Worbook</a></li>
            <li><a href="/worpad/">Worpad</a></li>
            <li><a href="/worphone/">Worphone</a></li>
            <li><a href="/worpods/">Worpods</a></li>
            <li><a href="/watch/">Watch</a></li>
            <li><a href="/about/">About us</a></li>
        </ul>

    </div>
    <div class="one_pro">
        <h1>Worphone one Pro</h1>
    </div>
    <div class="one_pro_pay">
        <a href="/worphone/pro/">Узнать больше ></a>
    </div>
</div>
<div class="phone1">
    <div class="one_">
        <h1>Worphone one</h1>
    </div>
    <div class="one_pay">
        <a href="#">Узнать больше ></a>
    </div>
</div>
<div class="watch">
    <div class="one_w">
        <h1>WATCH</h1>
    </div>
    <div class="one_w_pay">
        <a href="/watch/">Узнать больше ></a>
    </div>
</div>
<div class="pods">
    <div class="pods_pay">
        <a href="/worpods/">Узнать больше ></a>
    </div>
</div>
<div class="pad">
    <div class="pad_pay">
        <a href="/worpad/">Узнать больше ></a>
    </div>
</div>
</body>
</html>