<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorPadPro</title>
 <link rel="stylesheet" href= "../static/css/PadPro.css">
</head>
<body>
<div class="header">
    <div class="head_menu">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Worbook</a></li>
            <li><a href="#">Worpad</a></li>
            <li><a href="#">Worphone</a></li>
            <li><a href="#">Worpods</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
</div>
<div class="img1">
</div>
<div class="img2">
</div>
<div class="img3">
</div>
</body>
</html>