<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorPad</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worbook</title>
    <link rel="stylesheet" href= "../static/css/worpad.css">
</head>
<body>
<div class="header">
    <div class="head_menu">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Worbook</a></li>
            <li><a href="#">Worpad</a></li>
            <li><a href="#">Worphone</a></li>
            <li><a href="#">Worpods</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
</div>
<div class="pad_pro">
    <div class="pad_pro_pay">
        <ul class="pad_list">
            <li><a href="#">Узнать больше</a></li>
        </ul>
    </div>
</div>
<div class="pad+">
    <div class="pad+pay">
        <ul class="pad+list">
            <li><a href="#">Узнать больше</a></li>
        </ul>
    </div>
</div>
<div class="pad">
    <div class="pad_pay">
        <ul class="pad_pad_list">
            <li><a href="#">Узнать больше</a></li>
        </ul>
    </div>
</div>

</body>
</html>