<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorPhone</title>
    <link rel="stylesheet" href="../static/css/worphone.css">
</head>
<body>
<div class="header">
    <div class="head_menu">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Worbook</a></li>
            <li><a href="#">Worpad</a></li>
            <li><a href="#">Worphone</a></li>
            <li><a href="#">Worpods</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
</div>
<div class="header1">
    <div class="phone_pay">
        <ul class="phone_list">
            <li><a href="#">Узнать больше</a></li>
        </ul>
        <ul class="phone_list2">
            <li><a href="#">Узнать больше</a></li>
        </ul>
    </div>
</div>
</body>
</html>