<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WorPods</title>
    <link rel="stylesheet" href="../static/css/worpods.css">
</head>
<body>
<div class="header">
    <div class="head_menu">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Worbook</a></li>
            <li><a href="#">Worpad</a></li>
            <li><a href="#">Worphone</a></li>
            <li><a href="#">Worpods</a></li>
            <li><a href="#">Watch</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
</div>
<div class="header1">
</div>
</body>
</html>